.secret-image {
  display: inline-block;
  padding-left: 15px;
}
.inside-secret-image {
  color: rgba(0, 0, 0, .87);
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
